
@import  "null.css";

.header a{
    color:olive;
}

.menu .link{
    color:peru;
}
.menu .link-1{
    color:seagreen;
}
.menu .menu-list .link{
    color:teal;
}
.menu-list .link-2{
    color:violet;
}

.title {
    color: yellow;
}
h1.title{
    color:sienna;
}
.text {
    color:blue;
}
div.text{
    color:brown;
}
.coffe {
    color:chartreuse;
}
.title.coffe{
color:darkgoldenrod;
}
 .main ul{
     color:darkgray;
 }
.coffe-text {
    color:darkslategray;
}
.title.coffe-text{
    color:dodgerblue;
}
h3.title.coffe-text{
    color:peru;
}
.main~ul,li{
  color:tomato;
}

[class="coffe-text-2"]{
  color:yellow;
}

.coffe-text-2 {
    color:violet;
}
h4.coffe-text-2{
    color:lightslategray;
}

.book a{
    color:slategrey;
}


.share {
    color:teal;
}
.share h5{
    color:turquoise;
}
.share h5.title{
    color:yellow;
}
h5.share.title{
    color:navy;
}
.share a{
    color:palevioletred;
}

#section{
    color:saddlebrown;
}